<div class="col-md-12 offsetTop">
    <div class="col-md-6 offset-md-3">
        <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
            <md-card>
                <md-card-header style="display:flex;flex-direction:column">
                    <md-card-title>
                        <h2 align="center">Login</h2>
                    </md-card-title>
                    <h4 align="center"><a [routerLink]="['/Register']">New here? Signup!</a></h4>
                </md-card-header>
                <md-card-content style="display:flex;flex-direction:column">
                    <md-input-container>
                        <input [formControl]="email" mdInput type="text" placeholder="Email" />

                    </md-input-container>
                    <md-input-container>
                        <input [formControl]="password" mdInput type="password" placeholder="Password" />
                    </md-input-container>
                </md-card-content>
                <a>Forgot Password ?</a>
                <md-card-actions align="end">
                    <button md-raised-button type="submit" [disabled]="!form.valid"> Login</button>
                </md-card-actions>
            </md-card>
        </form>
    </div>
</div>