/* You can add global styles to this file, and also import other style files */

a {
    cursor: pointer;
}

md-input-container {
    margin-bottom: 15px;
}

.offsetTop {
    margin-top: 10%;
}

body {
    background-image: url('./assets/images/sky-bg.jpg');
}